[Desktop Entry]
Verison=0.1
Name=Timely Wallpaper Changer
Comment=Changes desktop wallpaper based on time of day and position of the sun.
Type=Application
Categories=Desktop
Icon=/home/nicci/Development/timelywall/icon.png
Exec=/home/nicci/Development/timelywall/timelywall
Terminal=false
Path=/home/nicci/Development/timelywall
